<html lang="pt-br">
<head>
  <%- include('./partials/head.ejs') %>
  <%- include('./partials/navbarUser.ejs') %>
  <%- include('./partials/AddUser.ejs') %>
</head>

<body>
     
            
<div>
        <h1>Adicionar úsuários</h1>

        <p id="avisoDeVerificacao">            
            <h6>Obs.:<br><li>VERIFICAMOS se o email já existe na base de dados,<br>e o cadastro é feito apenas com emails diferentes</li></h6>
            <h6><li> Também VERIFICAMOS se a senha possui os requisitos mínimos</li></h6>
            
        </p>

</div>

<br>

<div>

<form id="addUserForm" action="/adm/add/single_user" method="post">
          
          <p>* Primeiro Nome:
            <br>
            <input type="text" name="firstName" id="firstName" value="<%=firstName%>">
          </p>

          <br>

          <p>* Ultimo Nome:
            <br>
            <input type="text" name="lastName" id="lastName" value="<%=lastName%>">
          </p>

          <br> 

          <p id="emailCamp">* Email:
            <br>
            <input type="text" name="email" id="email"  value="<%=email%>">
          </p>
          
          
                  <% if(errToAdd == 'email'){  %>
                    <p style="color: red;">
                      Email já cadastrado
                    </p>
                    <% } %>
            
          <br>

          <p>* Senha:
            <br>
            <input type="password" name="password" id="password"  value="<%=password%>">
            
                            <% if(errToAdd == 'passwordLength'){  %>
                              <p style="color: red;">
                                A senha deve conter no minímo 8 digitos
                              </p>
                            <% } %>
                
                            <% if(errToAdd == 'passwordCondictions'){  %>
                              <p style="color: red;">
                                A senha deve conter no mínimo:
                                <li style="color: red;"> 3 caracteres em maiúsculo;</li>
                                <li style="color: red;"> 2 números;</li>
                                <li style="color: red;"> 1 caractere especial!</li>
                              </p>
                            <% } %>
  
            <br>           
              <h6 id="passwordConditions">
                <p>REQUISITOS da senha:</p>
                <li>08 caracteres;</li>
                <li>3 caracteres em maiúsculo;</li>
                <li>2 números;</li>
                <li>1 Caractere especial</li>
              </h6>
          </p>

          <br>

          <button type="button" onclick="submitForm()">Cadastrar</button>
          <button type="reset" >Resetar</button>



</form>
        
</div>

<%- include('./partials/foot.ejs') %>

</body>

<script>

function submitForm(){
  if(firstName.value.length == 0 || lastName.value.length == 0 || email.value.length == 0 || password.value.length == 0){
    alert('preencha tudo')
  }
  else{
    document.getElementById("addUserForm").submit()
  }
}

</script>

</html>