<html lang="pt-br" >
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/navbar.ejs') %>

    <div class="content">
      
      <div id="userFilter" > Filtrar por:
        
          <div>
            <form action="/adm/users" method="post">
              Nome:              
              <input type="search" name="nameFilter" id="nameFilter">
              <input type="submit" value="Filtrar">

            </form>
          </div>

          <div>
            <form action="/adm/users" method="post">
              Ultimo Nome: 
              <input type="search" name="lastNameFilter" id="lastNameFilter">
              <input type="submit"  value="Filtrar por Ultimo Nome">
    
            </form>
          </div>

          <div>
            <form action="/adm/users" method="post">
              Email: 
              <input type="search" name="emailFilter" id="emailFilter">
              <input type="submit" name="typefilterEmail" id="typefilterEmail" value="Filtrar por Email">
    
            </form>
          </div>
          <br>
          <button type="submit" onclick="window.location.href='/adm/users'">Resetar Filtros</button>

            <p id="toChange"></p>
      </div>
      
      <br>

      <% if (users.length > 0) { %> <% users.forEach(user => { %>
      <hr>
      <h3 class="title"><%= user.firstName %> <%= user.lastName %></h3>
      <p id="ident">ID: <%= user.id %></p>
      <p>EMAIL: <%= user.email %></p>
      <p>SENHA: <%= user.password %></p>
      <br>
      <button type="submit" id="<%= user.id%>" class="submit" onclick="editUser(id)">Editar usuário</button>
      <br>
      <% }) %> <% } else { %>
      <p>Não há usuários para exibir...</p>
      <% } %>
    </div>


    <%- include('./partials/foot.ejs') %>
    
  </body >

  <script >


  </script>
</html>
