<html lang="pt-br" >
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/navbar.ejs') %>

    <div class="content">
      
      <div id="userFilter" > Filtrar por:

        <form id="formFilter" action="/adm/users" onsubmit="isAnySeted()" method="post">

          <div>
              Nome:              
              <input type="search" name="firstNameFilter" id="firstNameFilter">
          </div>

          <div>
              Ultimo Nome: 
              <input type="search" name="lastNameFilter" id="lastNameFilter">
  
          </div>

          <div>
              Email: 
              <input type="search" name="emailFilter" id="emailFilter">
          </div>
          <input type="submit" name="applyFilter" id="applyFilter" value="Filtrar">
          <p id="toChange"></p>

        </form>
          <br>
          <button type="submit" onclick="window.location.href='/adm/users'">Resetar Filtros</button>

      </div>
      
      <br>

      <% if (users.length > 0) { %> <% users.forEach(user => { %>
      <hr>
      <h3 class="title"><%= user.firstName %> <%= user.lastName %></h3>
      <p id="ident">ID: <%= user.id %></p>
      <p>EMAIL: <%= user.email %></p>
      <p>SENHA: <%= user.password %></p>
      <br>
      <button type="submit" id="<%= user.id%>" class="submit" onclick="redirectSingleUser(id)">Editar usuário</button>
      <br>
      <% }) %> <% } else { %>
      <p>Não há usuários para exibir...</p>
      <% } %>
    </div>


    <%- include('./partials/foot.ejs') %>
    
  </body >

  <script >

function isAnySeted(){
  if(lastNameFilter.value.length == 0 && firstNameFilter.value.length == 0 && emailFilter.value.length == 0){
    
    let toChange = document.getElementById("toChange")
    
    toChange.innerHTML = "Para filtrar, preencha algum filtro"
  }
}

function redirectSingleUser(id){
  window.location.href = `/adm/users/${id}`
}

</script>
</html>
