<html lang="pt-br">
<head>

    <%- include('./partials/head.ejs') %>
    <body>
      <%- include('./partials/navbar.ejs') %>
      <%- include('./partials/AddUser.ejs') %>
</head>

<div>
      <h3>Filtrar por:</h3>
      
<br>
        <form id="formFilter" action="/adm/users" onsubmit="isAnySeted()" method="post">

            
             <h5> Nome:       
            </h5>      
              <input type="search" name="firstNameFilter" id="firstNameFilter">
            
               <br>
            
               <h5> Ultimo Nome:       
              </h5>
              <input type="search" name="lastNameFilter" id="lastNameFilter">
            
              <br>
            
              <h5> Email: 
              </h5>
              <input type="search" name="emailFilter" id="emailFilter">
            
              <br><br>
              <button type="submit" name="applyFilter" id="applyFilter">Aplicar Filtros</button>
              <button type="button" onclick="window.location.href='/adm/users'">Resetar Filtros</button>
                  <p id="toChange"></p>
        </form>
          

</div>
      
<br>

<div>
       <% if (users.length > 0) { %> <% users.forEach(user => { %>
      <hr>

      <h6>| ID: <%= user.id %> |</h6>

      <br>
      
      <h2 class="title"><%= user.firstName %> <%= user.lastName %></h2>
      


      <h4>EMAIL: 
      </h4>
      <h6><%= user.email %></h6>

      <h4>SENHA: 
      </h4>
      
      <h6><%= user.password %></h6>


        <p>
           <button type="submit" id="<%= user.id%>" class="submit" onclick="redirectSingleUser(id)">  Editar usuário  </button>
        </p>

        <br>     

      


      <% }) %> <% } else { %>
      <br>

      <p>Não há usuários para exibir...</p>
      
      <br>

      <% } %>

</div>


    
  </body >
  <%- include('./partials/foot.ejs') %>

  <script >

function isAnySeted(){
  if(lastNameFilter.value.length == 0 && firstNameFilter.value.length == 0 && emailFilter.value.length == 0){
    
    let toChange = document.getElementById("toChange")
    
    toChange.innerHTML = "Para filtrar, preencha algum filtro"
  }
}

function redirectSingleUser(id){
  window.location.href = `/adm/users/${id}`
}

</script>
</html>
