<html lang="pt-br">
<head>

    <%- include('./partials/head.ejs') %>
    <body>
      <%- include('./partials/navbar.ejs') %>
      <%- include('./partials/AddUser.ejs') %>
      <link rel="stylesheet" href="/css/allUsers.css">

</head>

<div>
      <h3>Filtrar por:</h3>
      
<br>
        <form id="formFilter" action="/adm/users" onsubmit="isAnySeted()" method="post">

            
             <h5> Nome:       
            </h5>      
              <input type="search" name="firstNameFilter" id="firstNameFilter">
            
               <br>
            
               <h5> Ultimo Nome:       
              </h5>
              <input type="search" name="lastNameFilter" id="lastNameFilter">
            
              <br>
            
              <h5> Email: 
              </h5>
              <input type="search" name="emailFilter" id="emailFilter">
            
              <br><br>
              <button type="submit" name="applyFilter" id="applyFilter">Aplicar Filtros</button>
              <button type="button" onclick="window.location.href='/adm/users'">Resetar Filtros</button>
                  <p id="toChange"></p>
        </form>
          

</div>
      
<br>

<div >
       <% if (users.length > 0) { %> <% users.forEach(user => { %>
      
<hr>
      <li id="liUserData">
        <h4 id="h4UserData">
          Usuário:
        </h4>  
        <p id="pUserData">
          "<%= user.firstName %> <%= user.lastName %>"
        </p>      
      </li>    
      
      <p>
          <button type="submit" id="<%= user.id%>" class="submit" onclick="redirectSingleUser(id)">  Ver dados / Excluir usuário  </button>
      </p>
    <br>

      <% }) %> <% } else { %>
      <br>

      <p>Não há usuários para exibir...</p>
      
      <br>

      <% } %>

</div>


    
  </body >
  <%- include('./partials/foot.ejs') %>

  <script src="/js/allUsers.js"></script>


</html>
