<html lang="pt-br">
    <%- include('./partials/head.ejs') %>
    <body>
      <%- include('./partials/navbar.ejs') %>
      <%- include('./partials/AddUser.ejs') %>

<div>
      <h3>Filtrar por:</h3>
      

        <form id="formFilter" action="/adm/users" onsubmit="isAnySeted()" method="post">

            
              Nome:              
              <input type="search" name="firstNameFilter" id="firstNameFilter">
            
               | 
            
              Ultimo Nome: 
              <input type="search" name="lastNameFilter" id="lastNameFilter">
            
              |
            
              Email: 
              <input type="search" name="emailFilter" id="emailFilter">
            
              <br><br>
              <button type="submit" name="applyFilter" id="applyFilter">Aplicar Filtros</button>
              <button type="button" onclick="window.location.href='/adm/users'">Resetar Filtros</button>
                  <p id="toChange"></p>
        </form>
          

</div>
      
<br>

<div>
       <% if (users.length > 0) { %> <% users.forEach(user => { %>
      <hr>

      <h6>| ID: <%= user.id %> |</h6>

      <h1 class="title"><%= user.firstName %> <%= user.lastName %></h1>
      


      <h3>EMAIL: <%= user.email %></h3>
      <h3>SENHA: <%= user.password %></h3>


        <p>
           <button type="submit" id="<%= user.id%>" class="submit" onclick="redirectSingleUser(id)">  Editar usuário  </button>
        </p>

        <br>     

      


      <% }) %> <% } else { %>
      <p>Não há usuários para exibir...</p>

      <% } %>

</div>


    
  </body >
  <%- include('./partials/foot.ejs') %>

  <script >

function isAnySeted(){
  if(lastNameFilter.value.length == 0 && firstNameFilter.value.length == 0 && emailFilter.value.length == 0){
    
    let toChange = document.getElementById("toChange")
    
    toChange.innerHTML = "Para filtrar, preencha algum filtro"
  }
}

function redirectSingleUser(id){
  window.location.href = `/adm/users/${id}`
}

</script>
</html>
