<html lang="pt-br">
    <%- include('./partials/head.ejs') %>
    <header>
      <p><h3>| Painel Administrativo |</h3></p><%- include('./partials/navbar.ejs') %>
      <p><h3>| Painel do Usuário |</h3></p><%- include('./partials/navbarUser.ejs') %>

      <%- include('./partials/AddUser.ejs') %>
    
    </header>

<body>

    <div action="">
      <h1>Esta aplicação possui:</h1>

        <h3>Banco de dados com Painel Administrativo</h3>
        <br>

        <h3>Permite:</h3>
        <li>Edição</li>
        <li>Exclusão </li>
        <li>Filtragem</li>
        <br>

        <h3>Quais dados?</h3>
        <li>Nomes</li>
        <li>Emails</li>
        <li>Senhas</li>
        <li>Qualquer informação e mídias</li>
        <br>

        <h3>Ideal para: </h3>
        <li>Empresas</li>
        <li>Profissionais Liberais</li>
        <li>Uso geral</li>
        <br>

        <h3>Pode ser adaptada para qualquer uso!</h3>

    </div>




    </body>

    <footer>
      <%- include('./partials/foot.ejs') %>

    </footer>

<style>
  header{
   line-height:10pt;
   font-size: 10pt;
   color: white;
  }
</style>

</html>