<html lang="pt-br">
  
  <head>
    <%- include('./partials/head.ejs') %>
    <%- include('./partials/navbarLogged.ejs') %> 
    <%- include('./partials/AddUser.ejs') %> 
    <link rel="stylesheet" href="/css/singleUser.css">

  </head>
  
<body>




<div>

  <h3>Dados do usuário:</h3>


  <li id="liUserData">
    <h5 id="h4UserData">
      ID:
    </h5>

    <h6 id="pUserData">
      <%=userByID.id  %>
    </h6>
  </li>
  <br><br>

  <li id="liUserData">
    <h4 id="h4UserData">
      Primeiro Nome:
    </h4>

    <p id="pUserData">
      <%=userByID.firstName  %>
    </p>
    <hr>
  </li>

  <li id="liUserData">
    <h4 id="h4UserData">
      Sobrenome:
    </h4>

    <p id="pUserData">
      <%=userByID.lastName  %>
    </p>
    <hr>
  </li>

  <li id="liUserData">
    <h4 id="h4UserData">
      Email:
    </h4>

    <p id="pUserData">
      <%=userByID.email  %>
    </p>
    <hr>
  </li>


<br>
Senha com HASH?
<br>
<%=userByID.password%>

<br><br>

CART:
<BR></BR>

<%=JSON.stringify(userByID.cart)%>




</div>

















<!-- code to edit user -->
<!-- 
<div>
<form action="/user/updated/<%= userByID.id%>" method="post">


          <h4> NOME:
          </h4>

            <input
            type="text"
            class="firstNameUser"
            name="firstNameUser"
            id="<%= userByID.firstName%>"
            value="<%= userByID.firstName%>"

          />

      <br>      <br />



          <h4> SOBRENOME:
          </h4>
  
          <input
            type="text"
            class="lastNameUser"
            name="lastNameUser"
            id="<%= userByID.lastName%>"
            value="<%= userByID.lastName%>"

          />

      <br />      <br />



         <h4> EMAIL:
        </h4>

          <input
            type="text"
            class="email"
            name="email"
            id="<%= userByID.email%>"
            value="<%= userByID.email%>"
          />

      <br />      <br />



          <h4> SENHA:
          </h4>
  

          <input
            type="password"
            class="password"
            name="password"
            id="password"
            value="<%= userByID.password%>"
          />
          <button type="button" id="showSenha" class="showSenha" onclick="revelarSenha(password , showSenha)">Revelar senha</button>

       

      <br>      <br />

      password
      <button type="submit" onclick="editUser(firstNameUser , lastNameUser , email , password)">
        Alterar Usuário
      </button>

      <h4 id="pAlterar"></h4>
</form>
</div>
 -->


<br>

<div>
<form id="formExclude" action="/adm/deleteUser/<%=userByID.id%>" method="post">
        <h5>Deseja EXCLUIR todo o seu cadastro?</h5>
        
        <p>
            <input type="radio" name="excluir" id="sim" onclick="alert('ATENÇÃO! Excluir um cadastro é um procedimento PERMANENTE. Ele não poderá ser recuperado!')">
            <label for="sim">Sim</label>        
  
            <input type="radio" name="excluir" id="nao" checked>
            <label for="nao">Não</label>
          
            <button type="button" onclick="excludeUser()">Excluir Usuário</button>
        </p>

</form>
</div>


</body>

<%- include('./partials/foot.ejs') %>

<script src="/js/singleUser.js"></script>



</html>