<html lang="pt-br">
    <%- include('./partials/head.ejs') %>
    <header>
      <%- include('./partials/navbarLogged.ejs') %>
      <%- include('./partials/AddUser.ejs') %>
      <link rel="stylesheet" href="/css/userPanel.css">

    </header>

<body>

    
    <div class="content">
        <h2>
          Olá, esses são seus dados:
        </h2>
        
        <hr>
          <br>
          
          Id: <h5 id="idSingleUser"><%= userByID.id%></h5>     
    
            <br>
            
            <h3> NOME: </h3><h5><%= userByID.firstName %> </h5>
    
          <br>
    
            <h3> SOBRENOME: </h3><h5><%= userByID.lastName %> </h5>
    
          <br />
    
          <h3> EMAIL: </h3><h5><%= userByID.email %> </h5>
    
          <br />
          
    
          <br>
    
          <form action="/user/edit/<%=userByID.id%>" method="post">
          <button type="submit">Editar Perfil | Alterar Senha
          </button>
            </form>
    </div>



    </body>

    <footer>
      <%- include('./partials/foot.ejs') %>

    </footer>


</html>