<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%- include('./partials/navbarUser.ejs') %>
    <%- include('./partials/head.ejs') %>
    <%- include('./partials/AddUser.ejs') %>
 

<!-- <style media="screen">
/* *,
*:before,
*:after{
padding: 0;
margin: 0;
box-sizing: border-box;
} */

/* body{
background: linear-gradient(
    90deg,
    rgba(65, 184, 131, 1) 0%,
    rgba(0, 212, 255, 1) 100%
);

} */

/* .background{
width: 430px;
height: 520px;
transform: translate(-50%,-50%);
left: 50%;
top: 50%;
position: absolute;
z-index: 0;

} */
.background .shape{
height: 200px;
width: 200px;
position: relative;
border-radius: 50%;
}
.shape:first-child{
background: linear-gradient(
#1845ad,
#23a2f6
);
left: -80px;
top: -80px;
}
.shape:last-child{
background: linear-gradient(
to right,
#ff512f,
#f09819
);
right: -330px;
bottom: -200px;

}
form{
height: auto;
width: 400px;
background-color: rgba(247, 0, 255, 0.37);
border-radius: 10px;
backdrop-filter: blur(10px);
border: 2px solid rgba(255,255,255,0.1);
box-shadow: 0 0 40px rgba(8,7,16,0.6);
padding: 30px 35px;
position: relative;
left: 40%;

}

sad00000000000{
transform: translate(-50%,-50%);
position: absolute;
top: 50%;
left: 50%;

}
form *{
font-family: 'Poppins',sans-serif;
color: #ffffff;
letter-spacing: 0.5px;
outline: none;
border: none;
}
form h3{
font-size: 32px;
font-weight: 500;
line-height: 42px;
text-align: center;
}

label{
display: block;
margin-top: 30px;
font-size: 16px;
font-weight: 500;
}
input{
display: block;
height: 50px;
width: 100%;
background-color: rgba(255,255,255,0.07);
border-radius: 3px;
padding: 0 10px;
margin-top: 8px;
font-size: 14px;
font-weight: 300;
}
::placeholder{
color: #e5e5e5;
}
button{
margin-top: 50px;
width: 100%;
background-color: #ffffff;
color: #080710;
padding: 15px 0;
font-size: 18px;
font-weight: 600;
border-radius: 5px;
cursor: pointer;
}
#createUser , #changePassword{
background-color: #ffffff00;
color: #ffffff;
width: auto;       
padding: auto;
font-size: 14px;
padding: 5px 5px;
margin-top: auto;
text-align: left;
cursor: pointer;


}

#dadosIncorretos{
color: rgb(255, 255, 255);
text-align: center;
background-color: #ff0000d7;
width: 100%;
font-size: 20px;
font-weight: bold;
padding: 5px ;
border-radius: 40px;


}

#foot{    
top: 60%;                         
z-index: 10;
}


</style> -->

</head>

<body>
    
    

<div>

        <form id="formLogin"  method="post">
            
            <h3>Login</h3>
            
            <br>


                    
        
        
        
        <label for="username">Email</label>
        <input type="text" placeholder="Email" name="username" id="username">
        <br>
        <c id="usernameToChange">        
        </c>
        
        <br>

        <label for="password">Password</label>
        <input type="password" placeholder="Password" name="password" id="password">
        <input value="Revelar senha" type="button" id="showSenha" class="showSenha" onclick="revelarSenha(password , showSenha)"></input>
        <br>
        <c id="passwordToChange">        
        </c>
        <br>


        <button type="button" name="buttonLogin" id="buttonLogin" onclick="validar(username,password)">Log In</button>       
        
        <hr>

        <button type="button" id="changePassword" onclick="location.href='/login/redefinir'">Esqueci minha senha</button>
        <button type="button" id="createUser" onclick="location.href='/adm/add/users'">Criar conta</button>
        
    </form>
    
    <%  if(message){   %>
        
        <p>
            <label  style="color: red;"><%=message%></label>
        </p>
        <%  }   %>


        <br>
    <h4>
        OBS.: a aplicação possui autenticação.
        <br>
        Para visualizar como usuário, utilize o usuário padrão:
    </h4>
    <br>
    <h3>
        Username:  
    </h3>
    <p>
            <input id="defaultUserName" value='890890@u0u.com'>
            <input type="button" value="Copiar" onclick="copydefaultUserName()">
    </p>
    <h3>
        Password:  
    </h3>
        <p> 
            <input id="defaultPassword" value='abcABC123@@'>  
            <input type="button" value="Copiar" onclick="copydefaultPassword()">
        </p> 


</div>
    
    <p id="foot">
        <%- include('./partials/foot.ejs') %>
        
    </p>
    


</body>

<script src="/js/userLogin.js"></script>

</html>