<html lang="pt-br">
  
  <head>
    <%- include('./partials/head.ejs') %>
    <%- include('./partials/navbarLogged.ejs') %> 
    <%- include('./partials/AddUser.ejs') %> 
    
  </head>
  
<body>

<div>
      <h3>O que deseja modificar?</h3>
    
      
       <h6>Id: </h6><h6 id="idSingleUser"><%= userByID.id%></h6>
       <hr>

</div>

    <br>
    
    <h4> NOME:
    </h4>

<div>
<form id="updateUserForm" action="/user/updated/<%= userByID.id%>" method="post">

  
      <!-- <p id="nome"> -->

          <h4> NOME:
          </h4>
            <br>

            <input
            type="text"
            class="firstNameUser"
            name="firstNameUser"
            id="<%= userByID.firstName%>"
            value="<%= userByID.firstName%>"

          />
      <!-- </p> -->

      <br>

      <!-- <p id="sobrenome"> -->

          <h4> SOBRENOME:
          </h4>
            <br>
  
          <input
            type="text"
            class="lastNameUser"
            name="lastNameUser"
            id="<%= userByID.lastName%>"
            value="<%= userByID.lastName%>"

          />
      <!-- </p> -->

      <br />

      <!-- <p id="email"> -->

         <h4> EMAIL:
        </h4>
          <br>

          <input
            type="text"
            class="emailUser"
            name="emailUser"
            id="<%= userByID.email%>"
            value="<%= userByID.email%>"
          />
      <!-- </p> -->

      <br />

      <!-- <p id="password"> -->

          <h4> SENHA:
          </h4>
  
          <br>

          <input
            type="password"
            class="passwordUser"
            name="passwordUser"
            id="passwordUser"
            placeholder="Alterar senha?"
          />
          <button type="button" id="showSenha" class="showSenha" onclick="revelarSenha(passwordUser , showSenha)">Revelar senha</button>

          <p id="problemPassword" style="color: red;"></p>
       
      <!-- </p> -->

      <br>

      <!-- <p> -->
      <button type="button" onclick="editUser(firstNameUser , lastNameUser , emailUser , passwordUser)">
        Alterar Usuário
      </button>
      <!-- </p> -->

      <h4 id="pAlterar"></h4>
</form>
</div>

<br>

<div>
<form id="formExclude" action="/user/delete/<%=userByID.id%>" method="post">
        <h5>Deseja EXCLUIR todo o seu cadastro?</h5>
        
        <p>
            <input type="radio" name="excluir" id="sim" onclick="alert('ATENÇÃO! Excluir um cadastro é um procedimento PERMANENTE. Ele não poderá ser recuperado!')">
            <label for="sim">Sim</label>        
  
            <input type="radio" name="excluir" id="nao" checked>
            <label for="nao">Não</label>
          
            <button type="button" onclick="excludeUser()">Excluir Usuário</button>
        </p>

</form>
</div>


</body>

<%- include('./partials/foot.ejs') %>

  <script>
    function editUser(x, y, z, d) {
      var regex = /^(?=(?:.*?[A-Z]){3})(?=(?:.*?[0-9]){2})(?=(?:.*?[!@#$%*()_+^&}{:;?.]){1})(?!.*\s)[0-9a-zA-Z!@#$%;*(){}_+^&]*$/

      var problemPassword = document.getElementById('problemPassword')

      if(x.value.length == 0 && y.value.length == 0 && z.value.length == 0 && d.value.length == 0){
        var pAlterar = document.getElementById('pAlterar')
        pAlterar.innerHTML = 'Preencha algum campo, se desejar alterar'
      }
      else if(d.value.length < 8){
problemPassword.innerHTML = 'A senha deve conter no mínimo 08 caracteres'
      }
      else if(!regex.exec(d.value)){
        problemPassword.innerHTML = 'A senha deve conter no mínimo:<br>3 caracteres em maiúsculo;<br>2 números;<br>1 caractere especial.'
      }
      else{
        document.getElementById('updateUserForm').submit()
      }
    }

    function excludeUser(){
      if(sim.checked == true){
        // var id = document.getElementById('idSingleUser')

        document.getElementById("formExclude").submit()


          // window.location.href = `/adm/delete/users/${id.textContent}`
        // alert('/adm/delete/users/'+id.textContent)
        
      }
      else{
        alert('Para excluir, CONFIRME')
      }
    }
    
    function revelarSenha(passwordUser, showSenha){
      if (passwordUser.type == "password") {
        passwordUser.type = "text"
        showSenha.textContent = "OCULTAR Senha"
      } else {
        passwordUser.type = "password"
        showSenha.textContent = "MOSTRAR Senha"
      }
    }

    

  </script>
</html>