<html lang="pt-br">
  <%- include('../partials/head.ejs') %>
  <header>
    <%- include('../partials/navbar.ejs') %>
    <%- include('../partials/AddUser.ejs') %>
  </header>


  
  <body>
    
<div>

        <h2>
            Controle de estoque
        </h2>

        <br>
        
        <!-- <p>
          <form action="" method="post" id="filterForm">
            <input placeholder="Nome" type="search" name="filter" id="filter">
            <button type="button" value="filterProduct" onclick="filterProduct(filter)">Filtrar</button> 
            |
            
            <button type="button" value="newProduct" onclick="location.href = '/adm/estoque/novo-produto'">Cadastrar Produto</button> 
          </form>
        </p> -->
        <p>
          <form action="" method="post" id="filterForm">
            <input placeholder="Nome" type="search" name="filter" id="filter">
            <button type="button"
            value="filterProduct"
            onclick="filterProduct(filter)"
            >Filtrar</button> 
            |
            
            <button type="button" value="newProduct" onclick="location.href = '/adm/estoque/novo-produto'">Cadastrar Produto</button> 
          </form>
        </p>


        
<p id="allProducts">

<%  if(estoque != null) {%>
          
  <%  estoque.forEach( singleProduct => {   %>
    <a id="eachProduct" name="eachProduct" class="eachProduct">

        <br><hr>


          <h3><%=singleProduct.productName.toUpperCase()  %></h3>

          <br>          

          <h4>Código de Barras: </h4>
          <p> <%=singleProduct.productCode  %></p>

          <br>

          <h4>Quantidade em estoque: </h4>
          <p> <%=singleProduct.productQtd  %></p>

          <br>

          <h4>Custo: </h4>
          <p>R$ <%=singleProduct.productCost.toFixed(2)  %></p>

          <br>

          <h4>Preço de Venda: </h4>
          <p>R$ <%=singleProduct.productNormalPrice.toFixed(2)  %></p>

          <br>

          <%  if(singleProduct.productSpecialPrice != null){ %>
            <h4>Preço de venda - Afiliados: </h4>
            <p>R$ <%=singleProduct.productSpecialPrice.toFixed(2)  %></p>
        
          <% } else {%>
          <h4>Preço de venda - Afiliados: </h4>
          <p>sem clube</p>
          <% } %>
          
          <p>
            <button id="<%=singleProduct.productName%>"
              onclick="editSingleProduct(id)"
              >Editar Produto
            </button>
          </p>
          
          
          
        

        </a>
<%  })  %>

        
        
        
        <% }  else {    %>
          <br>

          <h4>
            ESTOQUE VAZIO
          </h4>
          <%  }   %>
          


</p>

</div>


  </body>


<style>

    h4, p {
      display: inline;
    }

</style>



  <script>

function filterProduct(filter){
  
  
  var nameFilter = filter.value

  if(nameFilter.length>0){
    document.getElementById('filterForm').submit()
  }
  else{
    alert(`Digite algum filtro!`)
  }



}


    function editSingleProduct(productName){

      // To change space in '-', to bettar url view
      var adjustURL = productName.replace(/ /g, '-')
        location.href = `/adm/estoque/produto/${adjustURL}`


    }
  </script>


</html>
