<html lang="pt-br">
    <%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/navbar.ejs') %>
      <%- include('../partials/AddUser.ejs') %>

<div class="content">
    <%  if(isNew == true){   %>

    <h1>
        Produto adicionado com sucesso!
        <br>
        
    </h1>

    <%  } else if(isNew == false) { %> %>

      <h1>
        Produto:        
      </h1>

<%  } %>
    
      
        
        
<form method="post"  id="thisProduct">
          
        <h5> NOME:</h5>
        <a>
        <input type="text" name="productName" id="<%= product.productName %>" value="<%= product.productName %>">
        </a>

      <br>

        <h5> CÓDIGO DE BARRAS:</h5>
        <a>
          <input type="text" name="productCode" id="<%= product.productCode %>" value="<%= product.productCode %>">
        </a>

      <br />

        <h5> Quantidade em estoque:</h5>
        <a>
          <input type="number" name="productQtd" id="<%= product.productQtd %>" value="<%= product.productQtd %>">
        </a>

      <br />

        <h5> Preço de Custo:</h5>
        <a>
          <input type="number" name="productCost" id="<%= product.productCost %>" value="<%= product.productCost %>">
        </a>
      

      <br>

        <h5> Preço de Venda:</h5>
        <a>
          <input type="number" name="productNormalPrice" id="<%= product.productNormalPrice %>" value="<%= product.productNormalPrice %>">
        </a>
      

      <br>

      <h5> Preço de Afiliados:</h5>
      <a>
        <input type="number" name="productSpecialPrice" id="<%= product.productSpecialPrice %>" value="<%= product.productSpecialPrice %>">
      </a>
      
      <br>

      <h5> Imagem (URL):</h5>
      <a>
        <input type="text" name="productImage" id="<%= product.productImage %>" value="<%= product.productImage %>">
      </a>

      <br><br>

      <a>
      <button type="button" id="<%=product.productName%>" onclick="editThisProduct(id)" >Editar Esse Produto</button>

      |
      
      <button type="button" id="<%=product.productName%>" onclick="deleteThisProduct(id)">Deletar</button>
      
      |

      <button type="button" onclick="location.href = '/adm/estoque'">Ver Todos os Produtos</button>
      </a>


</form>        

</div>
    <%- include('../partials/foot.ejs') %>

</body>

<style>

h5{
  display: inline-table;
}
a{
  display: inline-table;
}


</style>

<script>

function deleteThisProduct(thisProductName){

// To change space in '-', to bettar url view
  var adjustURL = thisProductName.replace(/ /g, '-')
  location.href = `/adm/estoque/produto/deletar/${adjustURL}`


}


function editThisProduct(thisProductName){

// To change space in '-', to bettar url view
  var adjustURL = thisProductName.replace(/ /g, '-')
  // location.href = `/adm/estoque/produto/${adjustURL}`

  document.getElementById('thisProduct').submit()

}



</script>