<html lang="pt-br">
    <%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/navbar.ejs') %>
      <%- include('../partials/AddUser.ejs') %>

<div class="content">
    <%  if(isNew == true){   %>

    <h1>
        Produto adicionado com sucesso!
      <br>
        
    </h1>

    <%  } else if(isNew == false) { %> %>

      <h1>
        Produto:        
      </h1>

<%  } %>
    
      
        <h6><%=product.id  %></h6>
        
        <br>
        
<form method="post"  id="thisProduct" action="/adm/estoque/produto/<%=product.id%>">
          
        <h5> NOME:</h5>
        <a>
        <input type="text" name="productName" id="<%= product.productName %>" value="<%= product.productName %>">
        </a>

      <br>

        <h5> CÓDIGO DE BARRAS:</h5>
        <a>
          <input type="text" name="productCode" id="<%= product.productCode %>" value="<%= product.productCode %>">
        </a>

      <br />

        <h5> Quantidade em estoque:</h5>
        <a>
          <input type="number" name="productQtd" id="<%= product.productQtd %>" value="<%= product.productQtd %>" min="0" value="0" step=".01">
        </a>

      <br />

        <h5> Preço de Custo:</h5>
        <a>
          <input type="number" name="productCost" id="<%= product.productCost %>" value="<%= product.productCost %>" min="0" value="0" step=".01">
        </a>
      

      <br>

        <h5> Preço de Venda:</h5>
        <a>
          <input type="number" name="productNormalPrice" id="<%= product.productNormalPrice %>" value="<%= product.productNormalPrice %>" min="0" value="0" step=".01">
        </a>
      

      <br>

      <h5> Preço de Afiliados:</h5>
      <a>
        <input type="number" name="productSpecialPrice" id="<%= product.productSpecialPrice %>" value="<%= product.productSpecialPrice %>" min="0" value="0" step=".01">
      </a>
      
      <br>

      <h5> Imagem (URL):</h5>
      <a>
        <input type="text" name="productImage" id="<%= product.productImage %>" value="<%= product.productImage %>">
      </a>

      <br><br>

      <a>
      <button type="submit" id="<%=product.id%>">Editar Esse Produto</button>

      |
      
      <button type="button" id="<%=product.id%>" 
        onclick="location.href = '/adm/estoque/produto/deletar/<%=product.id%>'">Deletar</button>
      
      |

      <button type="button" onclick="location.href = '/adm/estoque'">Ver Todos os Produtos</button>
      </a>


</form>        

</div>
    <%- include('../partials/foot.ejs') %>

</body>

<style>

h5{
  display: inline-table;
}
a{
  display: inline-table;
}


</style>

<script>

function deleteThisProduct(id){

  location.href = `/adm/estoque/produto/deletar/${id}`


} 





</script>