<html lang="pt-br">
  <header>
    <%- include('../partials/head.ejs') %>
    <%- include('../partials/shop/navbarShop.ejs') %>
    <%- include('../partials/AddUser.ejs') %>
    <link rel="stylesheet" href="/css/shop/SHOP2.css">

  </header>

  <body>
    <div>
      <h2>
      SHOP Em construção...
        <br>
      SHOP under construction...
      </h2>
    </div>


    <!-- <div>
      <form  method="post" id="formTestAjax" action="/shop/ajax">
        valor1:
        <input type="number" name="valor1" id="valor1">
        Valor2:
        <input type="number" name="valor2" id="valor2">
        <button type="button" onclick="tstAjax(valor1, valor2)" value="teste Ajax">teste Ajax</button>

        <br>

        <p id="changeByAjax" name="changeByAjax"></p>
      </form>
    </div> -->

    <br />
    
<!-- <div> -->
<a class="allContents" id="allContents">

<div class="showProducts" id="showProducts">
    

<%  if(allProducts.length > 0) { allProducts.forEach( product => {     %>

    <form id="singleProduct">
      <!-- <a href=""> -->
        <img
        id="image"
        class="imageProduct"
        src="<%=product.productImage%>"
        />
        
        
        <p class="name"  id="<%=product.productName%>-name"><%=product.productName%></p>
        
        
        <p class="situation">disponíveis: &nbsp</p>                
        <p class="situation" id="<%=product.productName%>-situation"><%=product.productQtd%></p>
    
                <br>
                
                <p class="preCost">Preço: &nbsp</p>
                <p class="rs">R$</p><p class="cost" id="<%=product.productName%>-cost"><%=product.productNormalPrice.toFixed(2)%></p>
                
                <br>
                
                <%  if(product.productSpecialPrice != null){ %>
                  <p class="prePromo">Clube Fidelidade: &nbsp</p>
                  <p class="rs">R$</p><p class="promo" id="<%=product.productName%>-promo"><%=product.productSpecialPrice.toFixed(2)%></p>
                  <br>
                  
                  <p id="promo"></p>

                  <% } else {%>
                    <p class="promo" id="<%=product.productName%>-promo"><%=null %></p>
                  <% } %>
          
                
                
                
                
                <br>
                
                
                <label class="txtQtdProduct" for="qtdProduct">Quantidade:</label>
                <input type="number" class="qtdProduct" name="qtdProduct" id="qtdProduct" value=1>
                
                <br><br>
                
                <button type="button" id="<%=product.productCode%>" 
                  onclick="addToCart(id, qtdProduct.value)">                  
                  Adicionar ao carrinho
                </button>
                <!-- </a> -->
              </form>
              <!-- </li> -->
              
              
              <%  })  } %>
              

            <p>
              <select name="pageSelector" id="pageSelector">
                <option value="1">1</option>
              </select>
            </p>


</div>
          
          
<!--           
          <b class="cartInPage" id="cartInPage">
            
            <h3 class="nameCart">Carrinho: <hr><br></h3>
            <p class="cartToChange" id="cartToChange">        
            </p>
            <br><hr>
            <p class="totalToChange" id="totalToChange">
              
              TOTAL: R$0.00
            </p>
            
          </b>          
           -->
</a>
        
</body>
      
      <footer><%- include('../partials/foot.ejs') %></footer>
      
  <style>

  </style>


<script src="/js/shop/SHOP2.js"></script>



</html>
