<html lang="pt-br">
    <%- include('../partials/head.ejs') %>
  
<head>
    <%- include('../partials/navbarLogged.ejs') %>
    <%- include('../partials/AddUser.ejs') %>
    <link rel="stylesheet" href="/css/user/singlePurchase.css">

</head>


<body>

<div>

    <h2>
        Seu Pedido: 
    </h2>
    
    



                
<a class="eachPurchase">

    <p class="infos">
        <img src="<%=singlePurchase.img  %>">
    </p>

    
    <p class="infos">
                    <p class="infoPurchase">
                        Produto:
                    </p>
                        <p class="infoPurchaseResult">
                            <%=singlePurchase.productName  %>
                        </p>

                        <br>

                    <p class="infoPurchase">
                        Quantidade:
                    </p>
                        <p class="infoPurchaseResult">
                            <%=singlePurchase.qtd  %>
                        </p>

                        <br>

                    <p class="infoPurchase">
                        Preço total:
                    </p>
                        <p class="infoPurchaseResult">
                            <%=singlePurchase.price  %>
                        </p>

                        <br>

                    <p class="infoPurchase">
                        Endereço de entrega:
                    </p>
                        <p class="infoPurchaseResult">
                            <%=singlePurchase.adress  %>
                        </p>
                
                        <br>

                    <p class="infoPurchase">
                        Forma de pagamento:
                    </p>

                        <p class="infoPurchaseResult">
                            <%=singlePurchase.paymentMethod  %>
                        </p>

                        <br>

                    <p class="infoPurchase">
                        Data da compra:
                    </p>
                        <p class="infoPurchaseResult">
                            <%=singlePurchase.date  %>
                        </p>

                        <br>

                        <p class="infoPurchase">
                            Status:
                        </p>
                            <p class="infoPurchaseResult">
                                <%=singlePurchase.purchaseStatus  %>
                            </p>
    
                            <br>

                            <p class="infoPurchase">
                                Situação da entraga:
                            </p>
                                <p class="infoPurchaseResult">
                                    <%=singlePurchase.deliveryDate  %>
                                </p>
    
            </p>

            

                    <button type="button" onclick="alert('redirecionamento para atendimento')">
                        Falar com atendente
                    </button>



</a>




</div>



    
</body>


<footer>
<%- include('../partials/foot.ejs') %>
</footer>


<script>
function viewProduct(id){

    const userAtCookie = document.cookie
    .split('; ')
    .find((row) => row.startsWith('userID='))
    ?.split('=')[1];


location.href = `/user/${userAtCookie}/pedidos/${id}`


}

</script>



