<html lang="pt-br">
    <%- include('../partials/head.ejs') %>
  
<head>
    <%- include('../partials/navbarLogged.ejs') %>
    <%- include('../partials/AddUser.ejs') %>

</head>


<body>

<div>

    <h2>
        Meus pedidos:
    </h2>
    <h6>
        User ID: <%= id  %>
    </h6>


        <% if(purchases == null){ %>
            <p class="infoPurchase">
                Sem compras no momento
            </p>
        <% } else { %>

            
            <% purchases.forEach(  singlePurchase => {   %>
                
<a class="eachPurchase">

    <!-- <p class="infos">
        <img src="<%=singlePurchase.img  %>">
    </p> -->

    
    <p class="infos">
        <img src="<%=singlePurchase.img  %>">
                    <p class="infoPurchase">
                        PEDIDO:
                    </p>
                        <p class="infoPurchaseResult">

                            <%=singlePurchase.qtd%>X     |   <%=singlePurchase.productName%>   |     R$<%=singlePurchase.price  %>
                        </p>

                        <br>




            </p>

                    <!-- <button type="button" onclick="location.href = `/`">
                        Ver detalhes
                    </button> -->

                    <button type="button" id="<%=singlePurchase.id%>" onclick="viewProduct(id)">
                        Ver detalhes
                    </button>



</a>


                    <%  }) } %>


</div>



    
</body>


<footer>
<%- include('../partials/foot.ejs') %>
</footer>


<script>
function viewProduct(id){

    const userAtCookie = document.cookie
    .split('; ')
    .find((row) => row.startsWith('userID='))
    ?.split('=')[1];


location.href = `/user/${userAtCookie}/pedidos/${id}`


}

</script>



<style>
    .infoPurchase{

        display: inline;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 10pt;



    }

    .infoPurchaseResult{


        display: inline;
        font-size: 8pt;



    }

    .eachPurchase{
        border: solid 1pt;
        padding: 10px;
        margin: 5px;
        /* display: inline; */
        pointer-events: none;

    }

    img{
        max-width: 50px;
        

    }

</style>
