<html lang="pt-br">
    <%- include('../partials/head.ejs') %>
  
<head>
    <%- include('../partials/navbarLogged.ejs') %>
    <%- include('../partials/AddUser.ejs') %>
    <link rel="stylesheet" href="/css/user/userPurchases.css">

</head>


<body>

<div>

    <h2>
        Meus pedidos:
    </h2>
    <h6>
        User ID: <%= id  %>
    </h6>


        <% if(purchases == null){ %>
            <p class="infoPurchase">
                Sem compras no momento
            </p>
        <% } else { %>

            
            <% purchases.forEach(  singlePurchase => {   %>
                
<a class="eachPurchase">

    <!-- <p class="infos">
        <img src="<%=singlePurchase.img  %>">
    </p> -->

    
    <p class="infos">
        <img src="<%=singlePurchase.img  %>">
                    <p class="infoPurchase">
                        PEDIDO:
                    </p>
                        <p class="infoPurchaseResult">

                            <%=singlePurchase.qtd%>X     |   <%=singlePurchase.productName%>   |     R$<%=singlePurchase.price  %>
                        </p>

                        <br>




            </p>

                    <!-- <button type="button" onclick="location.href = `/`">
                        Ver detalhes
                    </button> -->

                    <button type="button" id="<%=singlePurchase.id%>" onclick="viewProduct(id)">
                        Ver detalhes
                    </button>



</a>


                    <%  }) } %>


</div>



    
</body>


<footer>
<%- include('../partials/foot.ejs') %>
</footer>



<script src="/js/user/userPurchases.js"></script>


